body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav{
    border-bottom: solid 1px lightgrey;
    height: 56px;
}
.navbar{
    padding-bottom: 0;
    padding-top: 0;
}
.show{
    background-color: #fff;
    width: 100%;
    border: solid 1px lightgrey;
    padding-left: 20px;
}


.site-content{
    flex: 1;
    padding: 50px 0;
}

.top-footer{
    background-color: #D00602;
    padding: 10px 0;
    color: #fff;

}

.top-footer a{
    color: #fff;
    font-size: 30px;
}
.top-footer h4{
    display: block;
    line-height: 2em;
}
.top-footer-item{
    margin: 12px 0 !important;

}


.bottom-footer{
    background-color: #200000;
    padding: 50px 0;
    color: #fff;
}

.bottom-footer hr{
    background-color: #D00602;
    width: 50%;
    display: inline-block;
    text-align: left;
}

.bottom-footer-item{
    margin: 35px 0;
}

.nav-item:hover{
    border-bottom: solid 2px #D00602;
}
.nav-item{
    line-height: 2;
    height: auto;
}

.nav-item a{
    color: #000;
}
.nav-item:last-child:hover{
    border-bottom: inherit;
}
.nav-item button:hover{
    color: #fff;
}

.contact-item p{
    display: inline;
}
.contact-item a{
    color: #fff;
}
.contact-item i{
    margin-right: 15px;
    font-size: 25px;
}

.copyright-footer{
    padding: 10px;
    background-color: #180000;
    color: #fff;

}
.copyright-footer p{
    margin: 0;
}

.btn-bct{
    color: #ffffff;
    background-color: #D00602;
    border-radius: inherit;
}

