body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.site-content{
    flex: 1;
    padding-bottom: 50px;
}

.top-footer{
    background-color: #D00602;
    padding: 10px 0;
    color: #fff;

}

.top-footer a{
    color: #fff;
    font-size: 30px;
}
.top-footer h4{
    display: block;
    line-height: 2em;
}
.top-footer-item{
    margin: 12px 0 !important;

}


.bottom-footer{
    background-color: #200000;
    padding: 50px 0;
    color: #fff;
}

.bottom-footer hr{
    background-color: #D00602;
    width: 50%;
    display: inline-block;
    text-align: left;
}

.bottom-footer-item{
    margin: 35px 0;
}
.contact-item p{
    display: inline;
}
.contact-item a{
    color: #fff;
}
.contact-item i{
    margin-right: 15px;
    font-size: 25px;
}

.copyright-footer{
    padding: 10px;
    background-color: #180000;
    color: #fff;

}
.copyright-footer p{
    margin: 0;
}

